# Python 102

#### We will cover:
- A bit more on data structures
    - Range object
    - Sets
    - tuple unpacking, zipping
    - casting
- if/elif/else statements
    - in keyword
    - multiple conditions (and, or)
    - comparison operators
- for loops and while loops
    - break and continue
    - iterating through lists and dictionaries
    - nested loops
- defining functions
    - lambda function syntax

### More on data structures!

In [2]:
myList = [1, 2, 3]
myList

[1, 2, 3]

In [6]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [17]:
myList1 = [1,2,3,4,4,4,44, 'abc']

In [19]:
set(myList1)[1]

TypeError: 'set' object is not subscriptable

In [20]:
s = '5'

In [21]:
int(s)

5

In [28]:
students = ['David','Gray','Hsin','Meagan',]
hobbies = ['Board games','Baking','Piano','Writing']

In [29]:
list(zip(students, hobbies))

[('David', 'Board games'),
 ('Gray', 'Baking'),
 ('Hsin', 'Piano'),
 ('Meagan', 'Writing')]

In [30]:
j = ("airpods","yeezys","nyc apartments")

In [31]:
overpriced_headphones, overpriced_sneakers, overpriced_apartments = j

In [32]:
overpriced_headphones

'airpods'

### If, elif, else statements

In [40]:
# ==
# !=
# >
# <
# >=
# <=
# %

if (10 <= 3) or (10 >= 3):
     print("True")

True

In [55]:
if 'yayyy' in myString.split(' '):
    print(True)

In [48]:
'joe'.split()

['joe']

In [49]:
list('joe')

['j', 'o', 'e']

In [52]:
'joe'.split('o')

['j', 'e']

In [50]:
myString = 'this is a string with spaces'

In [51]:
myString.split(' ')

['this', 'is', 'a', 'string', 'with', 'spaces']

In [56]:
#  15 divisible by both 3 and 5

if 15 % 5 == 0:
    print('divisible by 5')
elif 15 % 3 == 0:
    print('divisible by 3')
elif (15 % 5 == 0) and (15 % 3 == 0):
    print('divisible by 3 and 5')

divisible by 5

### For loops and while loops

In [70]:
for ele in range(1,100):
    if ele % 5 == 0:
        if ele < 4:
            break
    print(ele)

1
2
3
4

In [1]:
shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

In [2]:
shopping_dict.items()

dict_items([('Grocieries', {'ben & jerrys': 5.29, 'cheese': 2.79, 'ham': 25.0, 'kale': 2.75, 'kefir': 4.5, 'oranges': 3.64, 'tofu four-pack': 12.0, 'whole milk': 3.42}), ('House supplies', {'toilet paper pack': 16.5, 'clorox spray': 6.43, 'kleenex': 2.5}), ('Pet supplies', {'Taste of the Wild': 65.2, 'squeaky toy': 4.5, 'duck feet': 8.45})])

In [6]:
for key, val in shopping_dict.items():
    dict_val_list = list(val.values())
    dict_key_list = list(val.keys())
    
    for idx, item in enumerate(dict_val_list):
        if item > 10:
            print(dict_key_list[idx])
#     print(dict_key_list)

ham
tofu four-pack
toilet paper pack
Taste of the Wild

### Functions

In [9]:
def addFive(x=2):
    return x + 5

In [10]:
addFive(5)

10

In [11]:
addFive()

7

In [108]:
addFive2 = lambda x: x + 5

In [109]:
addFive2(5)

10

#### Appendix of examples and data

In [2]:
# Example Data
group_lunch = [
    {'ingredient1': 'rice', 'ingredient2': 'unagi', 'ingredient3': 'miso soup'},
    {'ingredient1': 'seaweed', 'ingredient2': 'tempura', 'ingredient3': 'miso soup'},
    {'ingredient1': 'hamburger', 'ingredient2': 'french fries', 'ingredient3': 'milkshake'}
]

shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

students = ['David','Gray','Hsin','Meagan']
hobbies = ['Board games','Baking','Piano','Writing']

In [1]:
g = input("Enter a number between 1 and 5 : ")

Enter a number between 1 and 5 : 5

In [78]:
# While loop example

while input("Enter a number between 1 and 5 : ")  not in ['1', '2', '3', '4', '5']:
    input("Enter a number between 1 and 5 : ")

Enter a number between 1 and 5 : spaghetti
Enter a number between 1 and 5 : hi
Enter a number between 1 and 5 : bye
Enter a number between 1 and 5 : 4
Enter a number between 1 and 5 : 3

In [12]:
i = 0
while i < 6:
    if i == 3:
        print("foo")
    i += 1
    print(i)

1
2
3
foo
4
5
6

In [119]:
# Python code to demonstrate dictionary  
# comprehension 
  
# Lists to represent keys and values 
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5]   
  
# but this line shows dict comprehension here   
myDict = { k:v for (k,v) in zip(keys, values)}   
  
# We can use below too 
# myDict = dict(zip(keys, values))
  
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}